<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Edit your Post</h1>
  <form method="POST" action="/posts/edit?_method=PUT">
    <label for="content">Content:</label>
    <input type="text" name="content" value="">
    <label for="link">Link:</label>
    <input type="text" name="link" value="">
    <input type="submit">
  </form>
</body>
</html>
