<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Posts!</title>
</head>
<body>
  <a href="/users/<%=userLoggedIn.id%>">Your Page</a>
  <h1>Welcome <%=userLoggedIn.first_name%></h1>
  <h3>Posts:</h3>
  <ul>
    <% posts.forEach(function (post) { %>
      <li><%=post.content%></li>
      <% }) %>
  </ul>
</body>
</html>
